/* colors */
/* names black color: #333333; */
/* body offwhite background: #f2f2f2; */
/* navbar dark teal background: #043B4B; */
/* galvanize logo color: #F58F32; */
/* galvanize aqua color: #47B6C4; */
/* galvanize maroon color: #793451; */
/* galvanize light aqua color: #c5e8ec; */

/* ---------------------------- */
          /* BODY */
/* ---------------------------- */

body {
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 300;
  background: #f2f2f2;
  margin: 0;
}

/* ---------------------------- */
          /* NAVBAR */
/* ---------------------------- */

#nav {
  border-radius: 0 !important;
  margin: 0;
}

.navbar {
  border-radius: 0;
  background: #043B4B;
  margin: 0;
}

.galvanize-logo {
  padding-top: 0.5em;
  margin: 0;
}

/* rsvp */
.btn.btn-link {
  padding: 0;
}

/* rsvp */
ul li a #button {
  color: #F58F32;
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  letter-spacing: 1.1px;
  -webkit-transform:scale(0.93, 1.0);
  -moz-transform:scale(0.93, 1.0);
  -ms-transform:scale(0.93, 1.0);
  -o-transform:scale(0.93, 1.0);
  transform:scale(0.93,1.0);
  margin: 0;
}

#button > a {
  border: none;
}
/* rsvp */
#nav > nav > div > div.navbar-collapse.collapse > ul.nav.navbar-nav.navbar-right > li > a{
  border: none;
  margin: 0;
}

/* rsvp */
#button:hover {
  text-decoration: none;
  margin: 0;
}

.rsvp-logo {
  width: 2.16em;
  height: 0.8em;
}

#button > a > img {
  margin-top: 8px;
}
/* ---------------------------- */
      /* Meet the Students*/
/* ---------------------------- */

.meetTheStudentsHeader {
  font-size: 2em;
  margin-top: 2.25em;
  margin-bottom: 2.25em;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.25px;
  opacity: 0.9;
  width: 100%;
  height: auto;
  position: relative;
}

#meetTheStudentsDiv {
  width: 50%;
  margin: 0 auto;
}

#allStudents {
  /* width: 75%;
  margin: 0 auto;
  padding: 0; */
}

#studentBody {
  margin-left: 50px;
  margin-right: 50px;
}

* {
  /* box-sizing: content-box;
  margin: 0; */
}

#studentImages {
  display: block;
  max-width: 100%;
  width: 15em;
  height: auto;
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  text-align: center;
  /* float: left; */
  margin: 1em auto;
}

#roundimg {
  width: 13.5em;
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  margin-top: 1em;
  text-align: center;
  margin: 0;
}

#roundimg:hover {
  border-radius: 50%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  cursor:pointer;
  margin: 0;
}

a#studentName {
  font-size: 1em;
  color: #333333;
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  letter-spacing: 0.75px;
  -webkit-transform:scale(0.95, 1.0);
  -moz-transform:scale(0.95, 1.0);
  -ms-transform:scale(0.95, 1.0);
  -o-transform:scale(0.95, 1.0);
  transform:scale(0.95,1.0);
  font-weight: 300;
  margin-top: 1em;
  display: block;
}

#studentName:hover #studentName:visited #studentName:link #studentName:active {
  text-decoration: none;
  margin: 0;
}

/* ---------------------------- */
   /* student details pages */
/* ---------------------------- */

.col-md-pull-6 {
  right: 0;
  margin: 0;
}

/* tabs for capstone desc and bio */
.tabs {
  width: 100%;
  height: auto;
  text-align: justify;
  margin: 0;
  padding-top: 18px;
}

/* tabs for capstone desc and bio */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #47B6C4;
  letter-spacing: 1px;
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  font-size: 1.4em;
  text-align: center;
}

.nav-pills>li {
  margin-bottom: 18px;
}

/* tabs for capstone desc and bio */
a:hover {
  color: #47B6C4;
  margin: 0;
}

/* tabs for capstone desc and bio */
li a {
  color: #47B6C4;
  letter-spacing: 1px;
  font-size: 1.4em;
  text-align: center;
  border: 1px solid #c5e8ec;
  /* margin-left: 20px; */
}

/* tabs for capstone desc and bio */
#left-tabs-example-pane-first {
  margin-left: 30px;
  padding: 0;
}

/* github, linkedin, email icons on each card */
#cardIcon {
  font-size: 2em;
  color: #47B6C4;
}

/* github, linkedin, email icons on each card */
#cardIcon:hover {
  transition: color 0.5s ease;
  color: #F58F32;
}

/* whole card layout */
#grid {
  background-color: white;
}

/* whole card layout */

div#grid.container {
  width: 65%;
  height: auto;
  margin-top: 5em;
}

#grid > div.imageRow {
  margin-top: 2em;
  margin-left:20px;
}

#grid > div.imageRow > div.col-md-6.col-md-pull-6 {
  text-align: center;
}

#left-tabs-example > div.floatThis.col-md-7.col-xs-auto {
  margin-left:10px;
  margin-right: 0;
  padding:0;
}
#left-tabs-example > div.floatThis.col-md-7.col-xs-auto > div {
  margin:0;
  padding:0
}

#left-tabs-example-pane-first {
  margin: 0;
  padding:0;
}

#left-tabs-example-pane-second {
  margin: 0;
  padding:0;
}
#left-tabs-example {
  width: 100%;
}

.floatThis {
  float:left;
}

#projectIcon {
  font-size: 2em;
  color: #F58F32;
  opacity: 0.95;
  margin-right: 20px;
}

#projectIcon:hover {
  transition: color 0.5s ease;
  color: #793451;
}

#projectRow {
  margin: 1em;
  text-align: left;
}

.row {
  margin: 0;
  padding: 0;
}
/* ---------------------------- */
       /* footer stuff */
/* ---------------------------- */

/* #footer {
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #043B4B;
  color: white;
  text-align: center;
  overflow: hidden;
  margin: 0;
  /* z-index: 99; */
/*} */

/* galvanize "G" */
/* .footerImg {
  width: 85px;
  height: auto;
  float: left;
} */

/* about, FAQ, and press links in footer */
/* .footerLink {
  text-decoration: none;
  color: #C6BFB7;
  text-align: center;
} */

/* hire our talent link */
/* .hire {
  text-decoration: none;
  color: #F58B41;
  text-align: right;
} */

/* galvanize social media contact icons */
/* .icons {
  float: right;
  color: #C6BFB7;
} */

/* #iconTwitter {
  width: 30px;
  height: auto;
} */

/* #iconLinkedIn {
  width: 30px;
  height: auto;
} */

/* #iconFacebook {
  width: 30px;
  height: auto;
} */
/*
#iconInstagram {
  width: 30px;
  height: auto;
} */

/* #iconGooglePlus {
  width: 30px;
  height: auto;
} */

/* #iconYouTube {
  width: 30px;
  height: auto;
} */

/* .galvanizeG {
  width: 150px;
  height: auto;
  padding: 23px;
  text-align: left;
  margin-left: 0 !important;
  padding-left: 0 !important;
  padding-top: 50px;
} */

/* #hireOur {
  text-decoration: none;
  color: #C6BFB7;
} */

/* .galvanizeGtd {
  width: 55;
  height: auto;
  vertical-align: top;
  text-align: left;
  float: left;
} */

/* td {
  padding: 0 !important;
} */

/* .menuAbout {
  color: #C6BFB7;
  float: left;
  text-decoration: none;
} */

/* .menuAbout:hover {
  color: white;
  text-decoration: none;
} */

/* .menuFAQ {
  color: #C6BFB7;
  padding-left: 10px;
  float: left;
  text-decoration: none;
} */

/* .menuFAQ:hover {
  color: white;
  text-decoration: none;
} */

/* .menuPress {
  color: #C6BFB7;
  padding-left: 10px;
  float: left;
  text-decoration: none;
} */

/* .menuPress:hover {
  color: white;
  text-decoration: none;
} */

/* .menuCareers {
  color: #C6BFB7;
  padding-left: 10px;
  float: left;
  text-decoration: none;
} */

/* .menuCareers:hover {
  color: white;
  text-decoration: none;
} */

/* .menuLogin {
  color: #C6BFB7;
  padding-left: 10px;
  float: left;
  text-decoration: none;
  padding-right: 150px;
} */

/* .menuLogin:hover {
  color: white;
  text-decoration: none;
} */

/* .address {
  color: #C6BFB7;
  float: left;
  text-align: left;
  width: 100%;
  height: auto;
  border-top: 1px solid #C6BFB7;
} */

/* .techTalent {
  color: #F58F32;
  text-decoration: none;
} */

/* .techTalent:hover {
  transition: color 0.5s ease;
  color: white;
  text-decoration: none;
} */

/* .socialIcons {
  display: inline-block;
} */

/* #icons {
  color: #C6BFB7;
  text-decoration: none;
  display: inline-block;
} */

/* .spacing {
  color: #043B4B;
} */

/* #loading {
  font-size: 30px;
  text-align: center;
} */

/* #icons {
  font-size: 1em;
} */

/* #icons:hover {
  color: white;
  transition: all 0.5s ease;
} */
