/* colors */
/* names black color: #333333; */
/* body offwhite background: #f2f2f2; */
/* navbar dark teal background: #043B4B; */
/* galvanize logo color: #F58F32; */
/* galvanize aqua color: #47B6C4; */
/* galvanize maroon color: #793451; */
/* galvanize light aqua color: #c5e8ec; */

/* ---------------------------- */
          /* BODY */
/* ---------------------------- */

body {
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 300;
  background: #f2f2f2;
  margin: 0;
  overflow: scroll;
}

/* ---------------------------- */
          /* NAVBAR */
/* ---------------------------- */

#nav {
  border-radius: 0 !important;
  margin: 0;
}

.navbar {
  border-radius: 0;
  background: #043B4B;
  margin: 0;
  height: 6em;
}

.galvanize-logo {
  margin: 0;
  margin-top: 0.65em;
  margin-bottom: 0.2em;
}

.home {
  color: white;
  margin-top: 20px;
  padding-left: 50px;
}

#nav > nav {
  border: none;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.navbar-nav>li>a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 0;
  margin-top: 28px;
  padding-left: 0;
}

#nav > nav > div > div.navbar-collapse.collapse > ul > div > div > button {
  background-color: #F58F32;
  border: none;
  margin-top: 24px;
  margin-bottom: 21px;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 300;
  color: white;
  padding: 8px;
  padding-top: 0;
  padding-bottom: 3px;
}

#nav > nav > div > div.navbar-collapse.collapse > ul > div > div > button > a {
  text-decoration: none;
  color: #f2f2f2;
}
#nav > nav > div > div.navbar-collapse.collapse > ul > div > div > button:hover {
  border: 1px solid #f2f2f2;
}

#root > div > div {
  margin-top: 3em;
}

/* hamburger button border issue fixed here */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none;
}

#nav > nav > div > div.navbar-collapse.collapse {
 border: none;
}

#nav > nav > div > div.navbar-header * {
   /* -webkit-box-sizing: border-box; */
   -moz-box-sizing: border-box;
   /* box-sizing: border-box; */
}
/* ---------------------------- */
      /* Meet the Students*/
/* ---------------------------- */

.meetTheStudentsHeader {
  /* font-family: 'Sanchez', serif; */
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Libre Baskerville', serif; */
  font-family: 'Lora', serif;


  font-size: 2.5em;
  margin-top: 2.25em;
  margin-bottom: 2.25em;
  text-align: center;
  font-weight: 600;
  /* letter-spacing: 0.25px; */
  letter-spacing: 1px;

  opacity: 0.9;
  width: 100%;
  height: auto;
  position: relative;
  transform: scale(1.05, 1.05);
  max-width: 80;
}

#meetTheStudentsDiv {
  width: 50%;
  margin: 0 auto;
}

#studentImages {
  display: block;
  max-width: 100%;
  height: auto;
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  text-align: center;
  margin: 1em auto;
}

#roundimg {
  width: 12em;
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  margin-top: 1em;
  text-align: center;
  margin: 0;
}

#roundimg:hover {
  border-radius: 50%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  cursor:pointer;
  margin: 0;
}

a#studentName {
  font-size: 1.1em;
  color: #333333;
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  letter-spacing: 0.75px;
  -webkit-transform:scale(0.95, 1.0);
  -moz-transform:scale(0.95, 1.0);
  -ms-transform:scale(0.95, 1.0);
  -o-transform:scale(0.95, 1.0);
  transform:scale(0.95,1.0);
  font-weight: 300;
  margin-top: 1em;
  display: block;
}

#studentName:hover #studentName:visited #studentName:link #studentName:active {
  text-decoration: none;
  margin: 0;
}

/* ---------------------------- */
   /* student details pages */
/* ---------------------------- */

#previous {
  color: #47B6C4;
}

#previous:hover {
  color: #F58F32;
}

#next {
  color: #47B6C4;
}

#next:hover {
  color: #F58F32;
}

.col-md-pull-6 {
  right: 0;
  margin: 0;
}

/* tabs for capstone desc and bio */
.tabs {
  width: 100%;
  height: auto;
  text-align: justify;
  margin: 0;
  padding-top: 18px;
}

/* tabs for capstone desc and bio */
#uncontrolled-tab-example-pane-1 {
  letter-spacing: 0.5px;
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  font-size: 13px;
  text-align: justify;
  margin-left: 4em;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 4em;
}

#uncontrolled-tab-example-pane-2 {
  letter-spacing: 0.5px;
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  font-size: 13px;
  text-align: justify;
  margin-left: 4em;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 4em;
}

#uncontrolled-tab-example-tab-1 {
  letter-spacing: 0.5px;
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  font-size: 1.2em;
  text-align: justify;
  color: #333333;
  margin-left: 2.5em;
}

#uncontrolled-tab-example-tab-1:hover {
  color: #47B6C4;
  background-color: #fef2e7;
}

li.active #uncontrolled-tab-example-tab-1{
  color: #47B6C4;
}

#uncontrolled-tab-example-tab-2 {
  letter-spacing: 0.5px;
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  font-size: 1.2em;
  text-align: justify;
  color: #333333;
}

#uncontrolled-tab-example-tab-2:hover {
  background-color: #fef2e7;
  color: #47B6C4;
}

li.active #uncontrolled-tab-example-tab-2{
  color: #47B6C4;
}

/* github, linkedin, email icons on each card */
#cardIcon {
  font-size: 2em;
  color: #47B6C4;
}

/* github, linkedin, email icons on each card */
#cardIcon:hover {
  transition: color 0.5s ease;
  color: #F58F32;
}

/* whole card layout */
#grid {
  background-color: white;
  width: 75% !important;
  height: auto;
}

/* whole card layout */

#grid > div.imageRow {
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 2em;
}

#grid > div.imageRow > div.col-md-6.col-md-pull-6 {
  text-align: center;
}

#grid {
  width: 100%;
  margin-bottom: 2.5em;
}

#grid > div.imageRow.row > div.col-md-6.col-md-pull-6 {
  margin-left: 5em;
}

#projectIconGradCap {
  font-size: 1.9em;
  color: #F58F32;
  opacity: 0.95;
  margin-right: 15px;
  margin-top: 0.5em;
  margin-left: 0.4em;
}

#projectIconGradCap:hover {
  transition: color 0.5s ease;
  color: #47B6C4;
}

#projectRowTop > a {
  margin-top: 1em;
  color: #333333;
  text-decoration: none;
  vertical-align: middle;
  font-size: 14px;
  letter-spacing: 0.5px;
}

#projectRowTop > a:hover {
  color: #043B4B;
  text-decoration: underline;
}

#projectIconReact {
  font-size: 1.9em;
  color: #F58F32;
  opacity: 0.95;
  margin-right: 18px;
  margin-left: 0.3em;
}

#projectIconReact:hover {
  transition: color 0.5s ease;
  color: #47B6C4;
}

#projectRowReact > a {
  margin-top: 1em;
  color: #333333;
  text-decoration: none;
  vertical-align: middle;
  font-size: 14px;
  letter-spacing: 0.5px;
}

#projectRowReact > a:hover {
  color: #043B4B;
  text-decoration: underline;
}


#projectIconDb {
  font-size: 1.9em;
  color: #F58F32;
  opacity: 0.95;
  margin-right: 20px;
  margin-left: 0.3em;
}

#projectIconDb:hover {
  transition: color 0.5s ease;
  color: #47B6C4;
}

#projectRowDb > a {
  margin-top: 1em;
  color: #333333;
  text-decoration: none;
  vertical-align:middle;
  font-size: 14px;
  letter-spacing: 0.5px;
}

#projectRowDb > a:hover {
  color: #043B4B;
  text-decoration: underline;
}

#projectIconFlask {
  font-size: 1.9em;
  color: #F58F32;
  opacity: 0.95;
  margin-right: 20px;
  margin-left: 0.3em;
}

#projectIconFlask:hover {
  transition: color 0.5s ease;
  color: #47B6C4;
}

#projectRowBottom > a {
  margin-top: 1em;
  color: #333333;
  text-decoration: none;
  vertical-align:middle;
  font-size: 14px;
  letter-spacing: 0.5px;
}

#projectRowBottom > a:hover {
  color: #043B4B;
  text-decoration: underline;
}

#projectRowTop {
  margin: 0.75em;
  text-align: left;
}

#projectRowReact {
  margin: 1.2em;
  text-align: left;
}

#projectRowDb {
  margin: 1.3em;
  text-align: left;
}

#projectRowBottom {
  margin: 1.3em;
  text-align: left;
}

.row {
  margin: 0;
  padding: 0;
}

#studentNameDetail {
  font-weight: 300;
  font-size: 2.6em;
}

#uncontrolled-tab-example > div {
  margin: auto;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* ---------------------------- */
       /* footer stuff */
/* ---------------------------- */

/* #footer {
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #043B4B;
  color: white;
  text-align: center;
  overflow: hidden;
  margin: 0;
  /* z-index: 99; */
/*} */

/* galvanize "G" */
/* .footerImg {
  width: 85px;
  height: auto;
  float: left;
} */

/* about, FAQ, and press links in footer */
/* .footerLink {
  text-decoration: none;
  color: #C6BFB7;
  text-align: center;
} */

/* hire our talent link */
/* .hire {
  text-decoration: none;
  color: #F58B41;
  text-align: right;
} */

/* galvanize social media contact icons */
/* .icons {
  float: right;
  color: #C6BFB7;
} */

/* #iconTwitter {
  width: 30px;
  height: auto;
} */

/* #iconLinkedIn {
  width: 30px;
  height: auto;
} */

/* #iconFacebook {
  width: 30px;
  height: auto;
} */
/*
#iconInstagram {
  width: 30px;
  height: auto;
} */

/* #iconGooglePlus {
  width: 30px;
  height: auto;
} */

/* #iconYouTube {
  width: 30px;
  height: auto;
} */

/* .galvanizeG {
  width: 150px;
  height: auto;
  padding: 23px;
  text-align: left;
  margin-left: 0 !important;
  padding-left: 0 !important;
  padding-top: 50px;
} */

/* #hireOur {
  text-decoration: none;
  color: #C6BFB7;
} */

/* .galvanizeGtd {
  width: 55;
  height: auto;
  vertical-align: top;
  text-align: left;
  float: left;
} */

/* td {
  padding: 0 !important;
} */

/* .menuAbout {
  color: #C6BFB7;
  float: left;
  text-decoration: none;
} */

/* .menuAbout:hover {
  color: white;
  text-decoration: none;
} */

/* .menuFAQ {
  color: #C6BFB7;
  padding-left: 10px;
  float: left;
  text-decoration: none;
} */

/* .menuFAQ:hover {
  color: white;
  text-decoration: none;
} */

/* .menuPress {
  color: #C6BFB7;
  padding-left: 10px;
  float: left;
  text-decoration: none;
} */

/* .menuPress:hover {
  color: white;
  text-decoration: none;
} */

/* .menuCareers {
  color: #C6BFB7;
  padding-left: 10px;
  float: left;
  text-decoration: none;
} */

/* .menuCareers:hover {
  color: white;
  text-decoration: none;
} */

/* .menuLogin {
  color: #C6BFB7;
  padding-left: 10px;
  float: left;
  text-decoration: none;
  padding-right: 150px;
} */

/* .menuLogin:hover {
  color: white;
  text-decoration: none;
} */

/* .address {
  color: #C6BFB7;
  float: left;
  text-align: left;
  width: 100%;
  height: auto;
  border-top: 1px solid #C6BFB7;
} */

/* .techTalent {
  color: #F58F32;
  text-decoration: none;
} */

/* .techTalent:hover {
  transition: color 0.5s ease;
  color: white;
  text-decoration: none;
} */

/* .socialIcons {
  display: inline-block;
} */

/* #icons {
  color: #C6BFB7;
  text-decoration: none;
  display: inline-block;
} */

/* .spacing {
  color: #043B4B;
} */

/* #loading {
  font-size: 30px;
  text-align: center;
} */

/* #icons {
  font-size: 1em;
} */

/* #icons:hover {
  color: white;
  transition: all 0.5s ease;
} */

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen
  and (min-width: 375px)
  and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  #studentImages {
    margin-top: 4em;
  }

  #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 > div.container > div > div {
    width: 100%;
  }

  #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 {
    margin: 0;
    width: 100%;
  }

  #cardIcon {
    margin: 10px;
  }

  body {
    background-color: white;
  }

  #grid {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
  }

  div #grid .container {
    width: 200%;
    margin: 0;
    padding: 0;
  }

  #projectRowTop {
    margin: 0;
    padding: 0;
    margin-left: -30px;
    margin-bottom: 10px;
  }

  #projectRowReact {
    margin: 0;
    margin-left: -25px;
    margin-bottom: 10px;
  }

  #projectRowDb {
    margin: 0;
    margin-left: -23px;
    margin-bottom: 10px;
  }

  #projectRowBottom {
    margin: 0;
    font-size: 5px;
    margin-left: -23px;
    margin-bottom: 20px;
  }

  #studentNameDetail {
    font-size: 30px;
    margin-top: 100px;
    text-align: left;
  }

  #grid > div.imageRow.row {
    width: 100%;
    margin-left: 0;
  }

  #uncontrolled-tab-example-tab-1 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    padding: 8px;
  }

  #uncontrolled-tab-example-tab-2 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: 10px;
    padding: 8px;
  }

  .tab-content>.active {
    margin: 0;
    padding: 0;
  }

  #uncontrolled-tab-example-pane-1 {
    margin: 10px;
    width: 116%;
    margin-left: 20px;
    margin-top: 20px;
  }

  #uncontrolled-tab-example-pane-2 {
    margin: 10px;
    width: 116%;
    margin-left: 20px;
    margin-top: 20px;
  }

  #contactRow {
    margin: 0;
    padding: 0;
    margin-left: -94px;
  }

  #grid > div.imageRow.row > div.col-md-4.col-xs-6 {
    margin-left: 85px;
  }

  #grid {
    width: 200%;
    padding: 0;
    margin:0;
  }

  #grid > div.imageRow.row > div.col-md-4.col-xs-6 {
    margin: 0;
    width: 150px;
    margin-top: -90px;
    margin-left: 30px;
    margin-bottom: -10px;
    padding: 0
  }

  #roundimg {
    width: 40em;
    height: auto;
  }

  * {
    -moz-box-sizing: border-box;
  }

  .meetTheStudentsHeader {
    transform: scale(0.9, 0.9);
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
  }

  #meetTheStudentsDiv {
    width: 100%;
  }
}

/* Landscape */
@media only screen
  and (min-width: 375px)
  and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  #studentImages {
    margin-top: 4em;
  }

  #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 > div.container > div > div {
    width: 100%;
  }

  #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 {
    margin: 0;
    width: 100%;
  }

  #cardIcon {
    margin: 10px;
  }

  body {
    background-color: white;
  }

  #grid {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
  }

  div #grid .container {
    width: 200%;
    margin: 0;
    padding: 0;
  }

  #projectRowTop {
    margin: 0;
    padding: 0;
    margin-left: -30px;
    margin-bottom: 10px;
  }

  #projectRowReact {
    margin: 0;
    margin-left: -25px;
    margin-bottom: 10px;
  }

  #projectRowDb {
    margin: 0;
    margin-left: -23px;
    margin-bottom: 10px;
  }

  #projectRowBottom {
    margin: 0;
    font-size: 5px;
    margin-left: -23px;
    margin-bottom: 20px;
  }

  #studentNameDetail {
    font-size: 30px;
    margin-top: 100px;
    text-align: left;
  }

  #grid > div.imageRow.row {
    width: 100%;
    margin-left: 0;
  }

  #uncontrolled-tab-example-tab-1 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    padding: 8px;
  }

  #uncontrolled-tab-example-tab-2 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: 10px;
    padding: 8px;
  }

  .tab-content>.active {
    margin: 0;
    padding: 0;
  }

  #uncontrolled-tab-example-pane-1 {
    margin: 10px;
    width: 116%;
    margin-left: 20px;
    margin-top: 20px;
  }

  #uncontrolled-tab-example-pane-2 {
    margin: 10px;
    width: 116%;
    margin-left: 20px;
    margin-top: 20px;
  }

  #contactRow {
    margin: 0;
    padding: 0;
    margin-left: -286px;
  }

  #grid > div.imageRow.row > div.col-md-4.col-xs-6 {
    margin-left: 85px;
  }

  #grid {
    width: 200%;
    padding: 0;
    margin:0;
  }

  #grid > div.imageRow.row > div.col-md-4.col-xs-6 {
    margin: 0;
    width: 150px;
    margin-top: -90px;
    margin-left: 30px;
    margin-bottom: -10px;
    padding: 0
  }

  #roundimg {
    width: 40em;
    height: auto;
  }

  * {
    -moz-box-sizing: border-box;
  }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-width: 414px)
  and (max-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

  a#studentName {
    font-size: 1em;
  }

  #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 > div.container > div > div {
    width: 100%;
  }

  #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 {
    margin: 0;
    width: 100%;
  }

  #cardIcon {
    margin: 10px;
  }

  body {
    background-color: white;
  }

  #grid {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
  }

  div #grid .container {
    width: 200%;
    margin: 0;
    padding: 0;
  }

  #projectRowTop {
    margin: 0;
    padding: 0;
    margin-left: -30px;
    margin-bottom: 10px;
  }

  #projectRowReact {
    margin: 0;
    margin-left: -25px;
    margin-bottom: 10px;
  }

  #projectRowDb {
    margin: 0;
    margin-left: -23px;
    margin-bottom: 10px;
  }

  #projectRowBottom {
    margin: 0;
    font-size: 5px;
    margin-left: -23px;
    margin-bottom: 20px;
  }

  #studentNameDetail {
    font-size: 30px;
    margin-top: 100px;
    text-align: left;
  }

  #grid > div.imageRow.row {
    width: 100%;
    margin-left: 0;
  }

  #uncontrolled-tab-example-tab-1 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    padding: 8px;
  }

  #uncontrolled-tab-example-tab-2 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: 10px;
    padding: 8px;
  }

  .tab-content>.active {
    margin: 0;
    padding: 0;
  }

  #uncontrolled-tab-example-pane-1 {
    margin: 10px;
    width: 116%;
    margin-left: 20px;
    margin-top: 20px;
  }

  #uncontrolled-tab-example-pane-2 {
    margin: 10px;
    width: 116%;
    margin-left: 20px;
    margin-top: 20px;
  }

  #contactRow {
    margin: 0;
    padding: 0;
    margin-left: -1000px;
  }

  #grid > div.imageRow.row > div.col-md-4.col-xs-6 {
    margin-left: 85px;
  }

  #grid {
    width: 200%;
    padding: 0;
    margin:0;
  }

  #grid > div.imageRow.row > div.col-md-4.col-xs-6 {
    margin: 0;
    width: 150px;
    margin-top: -90px;
    margin-left: 30px;
    margin-bottom: -10px;
    padding: 0
  }

  #roundimg {
    width: 40em;
    height: auto;
    margin-top: 2em;
  }

  * {
    -moz-box-sizing: border-box;
  }

  .meetTheStudentsHeader {
    transform: scale(0.9, 0.9);
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait */
@media only screen
  and (min-width: 375px)
  and (max-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

    #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 > div.container > div > div {
      width: 100%;
    }

    #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 {
      margin: 0;
      width: 100%;
    }

    #cardIcon {
      margin: 10px;
    }

    body {
      background-color: white;
    }

    #grid {
      margin: 0;
      padding: 0;
      width: 100%;
      background-color: white;
    }

    div #grid .container {
      width: 200%;
      margin: 0;
      padding: 0;
    }

    #projectRowTop {
      margin: 0;
      padding: 0;
      margin-left: -30px;
      margin-bottom: 10px;
    }

    #projectRowReact {
      margin: 0;
      margin-left: -25px;
      margin-bottom: 10px;
    }

    #projectRowDb {
      margin: 0;
      margin-left: -23px;
      margin-bottom: 10px;
    }

    #projectRowBottom {
      margin: 0;
      font-size: 5px;
      margin-left: -23px;
      margin-bottom: 20px;
    }

    #studentNameDetail {
      font-size: 30px;
      margin-top: 100px;
      text-align: left;
      padding: 0;
    }

    .pager {
      margin: 0;
      padding: 0;
    }

    #grid > div.imageRow.row {
      width: 100%;
      margin-left: 0;
    }

    #uncontrolled-tab-example-tab-1 {
      font-size: 1em;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      padding: 8px;
    }

    #uncontrolled-tab-example-tab-2 {
      font-size: 1em;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      margin-left: 10px;
      padding: 8px;
    }

    .tab-content>.active {
      margin: 0;
      padding: 0;
    }

    #uncontrolled-tab-example-pane-1 {
      margin: 10px;
      width: 116%;
      margin-left: 20px;
      margin-top: 20px;
    }

    #uncontrolled-tab-example-pane-2 {
      margin: 10px;
      width: 116%;
      margin-left: 20px;
      margin-top: 20px;
    }

    #contactRow {
      margin: 0;
      padding: 0;
      margin-left: -94px;
    }

    #grid > div.imageRow.row > div.col-md-4.col-xs-6 {
      margin-left: 85px;
    }

    #grid {
      width: 200%;
      padding: 0;
      margin:0;
    }

    #grid > div.imageRow.row > div.col-md-4.col-xs-6 {
      margin: 0;
      width: 150px;
      margin-top: -90px;
      margin-left: 30px;
      margin-bottom: -10px;
      padding: 0
    }

    #roundimg {
      width: 40em;
      height: auto;
    }

    * {
      -moz-box-sizing: border-box;
    }

    .meetTheStudentsHeader {
      transform: scale(0.9, 0.9);
      margin-top: 1em;
      margin-bottom: 1em;
      padding-top: 0;
    }

    #studentImages {
      margin-top: 4em;
    }
}

/* Landscape */
@media only screen
  and (min-width: 375px)
  and (max-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

    #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 > div.container > div > div {
      width: 100%;
    }

    #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 {
      margin: 0;
    }

    #cardIcon {
      margin: 10px;
    }

    body {
      background-color: white;
    }

    #grid {
      margin: 0;
      padding: 0;
      width: 100%;
      background-color: white;
    }

    div #grid .container {
      width: 200%;
      margin: 0;
      padding: 0;
    }

    #projectRowTop {
      margin: 0;
      padding: 0;
      margin-left: -30px;
      margin-bottom: 10px;
    }

    #projectRowReact {
      margin: 0;
      margin-left: -25px;
      margin-bottom: 10px;
    }

    #projectRowDb {
      margin: 0;
      margin-left: -23px;
      margin-bottom: 10px;
    }

    #projectRowBottom {
      margin: 0;
      font-size: 5px;
      margin-left: -23px;
      margin-bottom: 20px;
    }

    #studentNameDetail {
      font-size: 30px;
      margin-top: 100px;
      text-align: left;
    }

    #grid > div.imageRow.row {
      width: 100%;
      margin-left: 0;
    }

    #uncontrolled-tab-example-tab-1 {
      font-size: 1em;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      padding: 8px;
    }

    #uncontrolled-tab-example-tab-2 {
      font-size: 1em;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      margin-left: 10px;
      padding: 8px;
    }

    .tab-content>.active {
      margin: 0;
      padding: 0;
    }

    #uncontrolled-tab-example-pane-1 {
      margin: 10px;
      width: 116%;
      margin-left: 20px;
      margin-top: 20px;
    }

    #uncontrolled-tab-example-pane-2 {
      margin: 10px;
      width: 116%;
      margin-left: 20px;
      margin-top: 20px;
    }

    #contactRow {
      margin: 0;
      padding: 0;
      margin-left: -100px;
      text-align: right;
      width: 135%;
    }

    #grid > div.imageRow.row > div.col-md-4.col-xs-6 {
      margin-left: 85px;
    }

    #grid {
      width: 200%;
      padding: 0;
      margin:0;
    }

    #grid > div.imageRow.row > div.col-md-4.col-xs-6 {
      margin: 0;
      width: 150px;
      margin-top: -90px;
      margin-left: 30px;
      margin-bottom: -10px;
      padding: 0
    }

    #roundimg {
      width: 40em;
      height: auto;
    }

    * {
      -moz-box-sizing: border-box;
    }

    #studentImages {
      margin-top: 2em;
    }
}
@media only screen and (max-width: 800px) {

    #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 > div.container > div > div {
      width: 100%;
    }

    #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 {
      margin-left: 50px;
    }

    #cardIcon {
      font-size: 2em;
      color: #47B6C4;
      margin-bottom: 10px;
      float: left;
    }

    #contactRow {
      margin-left: -10px;
    }

    #grid {
      width: auto !important;
      height: auto;
    }

    #projectRowTop {
      margin-left: -20px;
      margin-bottom: 10px;
    }

    #projectRowReact {
      margin: 0;
      margin-left: -14px;
      margin-bottom: 10px;
    }

    #projectRowDb {
      margin: 0;
      margin-left: -12px;
      margin-bottom: 10px;
    }

    #projectRowBottom {
      margin: 0;
      font-size: 5px;
      margin-left: -12px;
      margin-bottom: 20px;
    }

    #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 {
      margin: 0;
    }

    #studentNameDetail {
      margin: 0;
      padding: 0;
    }

    #uncontrolled-tab-example-pane-1 {
      width: 90%;
    }

    #uncontrolled-tab-example-pane-2 {
      width: 90%;
    }

    #uncontrolled-tab-example {
      margin-left: 10px;
    }

}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait */
@media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 > div.container > div > div {
      width: 100%;
    }

    #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 {
      margin: 0;
      width: 100%;
    }

    #cardIcon {
      margin: 10px;
    }

    body {
      background-color: white;
    }

    #grid {
      margin: 0;
      padding: 0;
      width: 100%;
      background-color: white;
    }

    div #grid .container {
      width: 200%;
      margin: 0;
      padding: 0;
    }

    #projectRowTop {
      margin: 0;
      padding: 0;
      margin-left: -30px;
      margin-bottom: 10px;
    }

    #projectRowReact {
      margin: 0;
      margin-left: -25px;
      margin-bottom: 10px;
    }

    #projectRowDb {
      margin: 0;
      margin-left: -23px;
      margin-bottom: 10px;
    }

    #projectRowBottom {
      margin: 0;
      font-size: 5px;
      margin-left: -23px;
      margin-bottom: 20px;
    }

    #studentNameDetail {
      font-size: 30px;
      margin-top: 100px;
      text-align: left;
      margin-left: -2px;
    }

    #grid > div.imageRow.row {
      width: 100%;
      margin-left: 0;
    }

    #uncontrolled-tab-example-tab-1 {
      font-size: 1em;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      padding: 8px;

    }

    #uncontrolled-tab-example-tab-2 {
      font-size: 1em;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      margin-left: 10px;
      padding: 8px;
    }

    .tab-content>.active {
      margin: 0;
      padding: 0;
    }

    #uncontrolled-tab-example-pane-1 {
      margin: 10px;
      width: 80%;
      margin-left: 20px;
      margin-top: 20px;
    }

    #uncontrolled-tab-example-pane-2 {
      margin: 10px;
      width: 80%;
      margin-left: 20px;
      margin-top: 20px;
    }

    #contactRow {
      margin: 0;
      padding: 0;
      margin-left: -16px;
    }

    #grid > div.imageRow.row > div.col-md-4.col-xs-6 {
      margin-left: 85px;
    }

    #grid {
      width: 200%;
      padding: 0;
      margin:0;
    }

    #grid > div.imageRow.row > div.col-md-4.col-xs-6 {
      margin: 0;
      width: 150px;
      margin-top: -90px;
      margin-left: 30px;
      margin-bottom: -10px;
      padding: 0
    }

    #roundimg {
      width: 40em;
      height: auto;
    }

    * {
    -moz-box-sizing: border-box;
    }

    .meetTheStudentsHeader {
      transform: scale(0.9, 0.9);
      margin-top: 1em;
      margin-bottom: 1em;
      padding-top: 0;
    }
}

/* Landscape */
@media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 > div.container > div > div {
      width: 100%;
    }

    #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 {
      margin: 0;
      width: 100%;
    }

    #cardIcon {
      margin: 10px;
    }

    body {
      background-color: white;
    }

    #grid {
      margin: 0;
      padding: 0;
      width: 100%;
      background-color: white;
    }

    div #grid .container {
      width: 200%;
      margin: 0;
      padding: 0;
    }

    #projectRowTop {
      margin: 0;
      padding: 0;
      margin-left: -30px;
      margin-bottom: 10px;
    }

    #projectRowReact {
      margin: 0;
      margin-left: -25px;
      margin-bottom: 10px;
    }

    #projectRowDb {
      margin: 0;
      margin-left: -23px;
      margin-bottom: 10px;
    }

    #projectRowBottom {
      margin: 0;
      font-size: 5px;
      margin-left: -23px;
      margin-bottom: 20px;
    }

    #studentNameDetail {
      font-size: 30px;
      margin-top: 100px;
      text-align: left;
      margin-left: -2px;
    }

    #grid > div.imageRow.row {
      width: 100%;
      margin-left: 0;
    }

    #uncontrolled-tab-example-tab-1 {
      font-size: 1em;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      padding: 8px;
    }

    #uncontrolled-tab-example-tab-2 {
      font-size: 1em;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      margin-left: 10px;
      padding: 8px;
    }

    .tab-content>.active {
      margin: 0;
      padding: 0;
    }

    #uncontrolled-tab-example-pane-1 {
      margin: 10px;
      width: 80%;
      margin-left: 20px;
      margin-top: 20px;
    }

    #uncontrolled-tab-example-pane-2 {
      margin: 10px;
      width: 80%;
      margin-left: 20px;
      margin-top: 20px;
    }

    #contactRow {
      margin: 0;
      padding: 0;
      margin-left: -540px;
    }

    #grid > div.imageRow.row > div.col-md-4.col-xs-6 {
      margin-left: 85px;
    }

    #grid {
      width: 200%;
      padding: 0;
      margin:0;
    }

    #grid > div.imageRow.row > div.col-md-4.col-xs-6 {
      margin: 0;
      width: 150px;
      margin-top: -90px;
      margin-left: 30px;
      margin-bottom: -10px;
      padding: 0
    }

    #roundimg {
      width: 40em;
      height: auto;
    }

    * {
    -moz-box-sizing: border-box;
    }

    .meetTheStudentsHeader {
      transform: scale(0.9, 0.9);
      margin-top: 1em;
      margin-bottom: 1em;
      padding-top: 0;
    }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait */
@media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 > div.container > div > div {
      width: 100%;
    }

    #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 {
      margin: 0;
      width: 100%;
    }

    #cardIcon {
      margin: 10px;
    }

    body {
      background-color: white;
    }

    #grid {
      margin: 0;
      padding: 0;
      width: 100%;
      background-color: white;
    }

    div #grid .container {
      width: 200%;
      margin: 0;
      padding: 0;
    }

    #projectRowTop {
      margin: 0;
      padding: 0;
      margin-left: -30px;
      margin-bottom: 10px;
    }

    #projectRowReact {
      margin: 0;
      margin-left: -25px;
      margin-bottom: 10px;
    }

    #projectRowDb {
      margin: 0;
      margin-left: -23px;
      margin-bottom: 10px;
    }

    #projectRowBottom {
      margin: 0;
      font-size: 5px;
      margin-left: -23px;
      margin-bottom: 20px;
    }

    #studentNameDetail {
      font-size: 30px;
      margin-top: 100px;
      text-align: left;
      margin-left: -2px;
    }

    #grid > div.imageRow.row {
      width: 100%;
      margin-left: 0;
    }

    #uncontrolled-tab-example-tab-1 {
      font-size: 1em;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      padding: 8px;

    }

    #uncontrolled-tab-example-tab-2 {
      font-size: 1em;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      margin-left: 10px;
      padding: 8px;
    }

    .tab-content>.active {
      margin: 0;
      padding: 0;
    }

    #uncontrolled-tab-example-pane-1 {
      margin: 10px;
      width: 80%;
      margin-left: 20px;
      margin-top: 20px;
    }

    #uncontrolled-tab-example-pane-2 {
      margin: 10px;
      width: 80%;
      margin-left: 20px;
      margin-top: 20px;
    }

    #contactRow {
      margin: 0;
      padding: 0;
      margin-left: -16px;
    }

    #grid > div.imageRow.row > div.col-md-4.col-xs-6 {
      margin-left: 85px;
    }

    #grid {
      width: 200%;
      padding: 0;
      margin:0;
    }

    #grid > div.imageRow.row > div.col-md-4.col-xs-6 {
      margin: 0;
      width: 150px;
      margin-top: -90px;
      margin-left: 30px;
      margin-bottom: -10px;
      padding: 0
    }

    #roundimg {
      width: 40em;
      height: auto;
    }

    * {
    /* -webkit-box-sizing: border-box; */
    -moz-box-sizing: border-box;
    /* box-sizing: border-box; */
    }

    .meetTheStudentsHeader {
      transform: scale(0.9, 0.9);
      margin-top: 1em;
      margin-bottom: 1em;
      padding-top: 0;
    }
}

/* Landscape */
@media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

    #studentNameDetail {
      margin-top: 0;
    }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-width: 834px)
  and (max-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 > div.container > div > div {
      width: 100%;
    }

    #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 {
      margin: 0;
      width: 100%;
    }

    #cardIcon {
      margin: 10px;
    }

    body {
      background-color: white;
    }

    #grid {
      margin: 0;
      padding: 0;
      width: 100%;
      background-color: white;
    }

    div #grid .container {
      width: 200%;
      margin: 0;
      padding: 0;
    }

    #projectRowTop {
      margin: 0;
      padding: 0;
      margin-left: -30px;
      margin-bottom: 10px;
    }

    #projectRowReact {
      margin: 0;
      margin-left: -25px;
      margin-bottom: 10px;
    }

    #projectRowDb {
      margin: 0;
      margin-left: -23px;
      margin-bottom: 10px;
    }

    #projectRowBottom {
      margin: 0;
      font-size: 5px;
      margin-left: -23px;
      margin-bottom: 20px;
    }

    #studentNameDetail {
      font-size: 30px;
      margin-top: 10px;
      text-align: left;
      margin-left: -2px;
    }

    #grid > div.imageRow.row {
      width: 100%;
      margin-left: 0;
    }

    #uncontrolled-tab-example-tab-1 {
      font-size: 1em;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      padding: 8px;

    }

    #uncontrolled-tab-example-tab-2 {
      font-size: 1em;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      margin-left: 10px;
      padding: 8px;
    }

    .tab-content>.active {
      margin: 0;
      padding: 0;
    }

    #uncontrolled-tab-example-pane-1 {
      margin: 10px;
      width: 80%;
      margin-left: 20px;
      margin-top: 20px;
    }

    #uncontrolled-tab-example-pane-2 {
      margin: 10px;
      width: 80%;
      margin-left: 20px;
      margin-top: 20px;
    }

    #contactRow {
      margin: 0;
      padding: 0;
      margin-left: -540px;
    }

    #grid > div.imageRow.row > div.col-md-4.col-xs-6 {
      margin-left: 85px;
    }

    #grid {
      width: 200%;
      padding: 0;
      margin: 0;
    }

    #grid > div.imageRow.row > div.col-md-4.col-xs-6 {
      margin: 0;
      width: 150px;
      margin-top: -90px;
      margin-left: 30px;
      margin-bottom: -10px;
      padding: 0
    }

    #roundimg {
      width: 40em;
      height: auto;
    }

    * {
    /* -webkit-box-sizing: border-box; */
    -moz-box-sizing: border-box;
    /* box-sizing: border-box; */
    }

    .meetTheStudentsHeader {
      transform: scale(0.9, 0.9);
      margin-top: 1em;
      margin-bottom: 1em;
      padding-top: 0;
    }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait */
@media screen
  and (min-width: 320px)
  and (max-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {

    #studentImages {
      margin-top: 4em;
    }

    #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 > div.container > div > div {
      width: 100%;
    }

    #grid > div.imageRow.row > div.col-md-6.col-md-pull-6 {
      margin: 0;
      width: 100%;
    }

    #cardIcon {
      margin: 10px;
    }

    body {
      background-color: white;
    }

    #grid {
      margin: 0;
      padding: 0;
      width: 100%;
      background-color: white;
    }

    div #grid .container {
      width: 200%;
      margin: 0;
      padding: 0;
    }

    #projectRowTop {
      margin: 0;
      padding: 0;
      margin-left: -30px;
      margin-bottom: 10px;
    }

    #projectRowReact {
      margin: 0;
      margin-left: -25px;
      margin-bottom: 10px;
    }

    #projectRowDb {
      margin: 0;
      margin-left: -23px;
      margin-bottom: 10px;
    }

    #projectRowBottom {
      margin: 0;
      font-size: 5px;
      margin-left: -23px;
      margin-bottom: 20px;
    }

    #studentNameDetail {
      font-size: 30px;
      margin-top: 100px;
      text-align: left;
    }

    #grid > div.imageRow.row {
      width: 100%;
      margin-left: 0;
    }

    #uncontrolled-tab-example-tab-1 {
      font-size: 1em;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      padding: 8px;

    }

    #uncontrolled-tab-example-tab-2 {
      font-size: 1em;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      margin-left: 10px;
      padding: 8px;
    }

    .tab-content>.active {
      margin: 0;
      padding: 0;
    }

    #uncontrolled-tab-example-pane-1 {
      margin: 10px;
      width: 80%;
      margin-left: 20px;
      margin-top: 20px;
    }

    #uncontrolled-tab-example-pane-2 {
      margin: 10px;
      width: 80%;
      margin-left: 20px;
      margin-top: 20px;
    }

    #contactRow {
      margin: 0;
      padding: 0;
      margin-left: -14px;
    }

    #grid > div.imageRow.row > div.col-md-4.col-xs-6 {
      margin-left: 85px;
    }
    #grid {
      width: 200%;
      padding: 0;
      margin:0;
    }
    #grid > div.imageRow.row > div.col-md-4.col-xs-6 {
      margin: 0;
      width: 150px;
      margin-top: -90px;
      margin-left: 30px;
      margin-bottom: -10px;
      padding: 0
    }
    #roundimg {
      width: 40em;
      height: auto;
    }

    * {
    /* -webkit-box-sizing: border-box; */
    -moz-box-sizing: border-box;
    /* box-sizing: border-box; */
    }

    .meetTheStudentsHeader {
      transform: scale(0.9, 0.9);
      margin-top: 1em;
      margin-bottom: 1em;
      padding-top: 0;
      font-size: 2.25em;
    }

    #meetTheStudentsDiv {
      width: 100%;
    }
}
