/* general / overall body */
body {
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 300;
  background: #f2f2f2;
  margin: 0;
}

/* NAVBAR */
#nav {
  border-radius: 0 !important;
}
.navbar {
  border-radius: 0;
  background: #043B4B;
}

.galvanize-logo {
  padding-top: 0.5em;
}

/* rsvp */
.btn.btn-link {
  color: #F58F32;
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 300;
  font-size: 2em;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

#button {
  color: #F58F32;
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 300;
  font-size: 1.65em;
  letter-spacing: 1.1px;
  -webkit-transform:scale(0.93, 1.0);
  -moz-transform:scale(0.93, 1.0);
  -ms-transform:scale(0.93, 1.0);
  -o-transform:scale(0.93, 1.0);
  transform:scale(0.93,1.0);
  /* transform:scale(1,0.95);
  -webkit-transform:scale(1,0.95);
  -moz-transform:scale(1,0.95);
  -ms-transform:scale(1,0.95);
  -o-transform:scale(1,0.95); */
}

#button:hover {
  text-decoration: none;
}

/* Meet the Students*/
div#root.row {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

body #meetTheStudents {
  width: 100%;
  position: relative;
}
.meetTheStudentsHeader {
    font-size: 2em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.25px;
    color: #793451;

}

#root {
  width: 100%;
  height: auto;
  position: relative;
}

#studentBody {
  margin: 0 auto;
  width: 100%;
}

* {
  box-sizing: content-box;
}

#studentImages {
  display: inline;
  max-width: 100%;
  width: 15em;
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  text-align: center;
  float: left;
}

#roundimg {
  width: 13.5em;
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  margin-top: 1em;
  text-align: center;
}

#roundimg:hover {
  border-radius: 50%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#studentName {
  font-size: 1.2em;
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  letter-spacing: 1px;
  -webkit-transform:scale(0.95, 1.0);
  -moz-transform:scale(0.95, 1.0);
  -ms-transform:scale(0.95, 1.0);
  -o-transform:scale(0.95, 1.0);
  transform:scale(0.95,1.0);
  font-weight: 300;
}

#studentName:hover {
  text-decoration: none;
}

/* student details pages */

.col-md-pull-6 {
  right: 0;
}
/* tabs for capstone desc and bio */
.tabs {
  width: 100%;
  text-align: left;
  bottom: 0;
  word-wrap: none;
  text-align: justify;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #47B6C4;
  color: whitesmoke;
  letter-spacing: 1px;
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  font-size: 1.5em;
  text-align: right;
}

a:hover {
  color: #793451;
}

a {
  color: #47B6C4;
  letter-spacing: 1px;
  font-size: 1.5em;
  text-align: right;
}

/* github, linkedin, email icons on each card */
#contactIcons {
  width: 1.5em;
  opacity: 0.85;
}

/* footer stuff */
/* #footer {
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #043B4B;
  color: white;
  text-align: center;
  overflow: hidden;
  margin: 0;
  /* z-index: 99; */
/*} */

/* galvanize "G" */
.footerImg {
  width: 85px;
  height: auto;
  float: left;
}

/* about, FAQ, and press links in footer */
.footerLink {
  text-decoration: none;
  color: #C6BFB7;
  text-align: center;
}
/* hire our talent link */
.hire {
  text-decoration: none;
  color: #F58B41;
  text-align: right;
}

/* galvanize social media contact icons */
.icons {
  float: right;
  color: #C6BFB7;
}

#iconTwitter {
  width: 30px;
  height: auto;
}

#iconLinkedIn {
  width: 30px;
  height: auto;
}

#iconFacebook {
  width: 30px;
  height: auto;
}

#iconInstagram {
  width: 30px;
  height: auto;
}

#iconGooglePlus {
  width: 30px;
  height: auto;
}

#iconYouTube {
  width: 30px;
  height: auto;
}

.galvanizeG {
  width: 150px;
  padding: 23px;
  text-align: left;
  margin-left: 0 !important;
  padding-left: 0 !important;
  padding-top: 50px;
}

#hireOur {
  text-decoration: none;
  color: #C6BFB7;
}
.galvanizeGtd {
  width: 55;
  vertical-align: top;
  text-align: left;
  float: left;
}

td {
  padding: 0 !important;
}

.menuAbout {
  color: #C6BFB7;
  float: left;
  text-decoration: none;
}

.menuAbout:hover {
  color: white;
  text-decoration: none;
}

.menuFAQ {
  color: #C6BFB7;
  padding-left: 10px;
  float: left;
  text-decoration: none;
}

.menuFAQ:hover {
  color: white;
  text-decoration: none;
}

.menuPress {
  color: #C6BFB7;
  padding-left: 10px;
  float: left;
  text-decoration: none;
}

.menuPress:hover {
  color: white;
  text-decoration: none;
}

.menuCareers {
  color: #C6BFB7;
  padding-left: 10px;
  float: left;
  text-decoration: none;
}

.menuCareers:hover {
  color: white;
  text-decoration: none;
}

.menuLogin {
  color: #C6BFB7;
  padding-left: 10px;
  float: left;
  text-decoration: none;
  padding-right: 150px;
}

.menuLogin:hover {
  color: white;
  text-decoration: none;
}

.address {
  color: #C6BFB7;
  float: left;
  text-align: left;
  width: 100%;
  border-top: 1px solid #C6BFB7;
}

.techTalent {
  color: #F58F32;
  text-decoration: none;
}

.techTalent:hover {
  transition: color 0.5s ease;
  color: white;
  text-decoration: none;
}

.socialIcons {
  display: inline-block;
}

#icons {
  color: #C6BFB7;
  text-decoration: none;
  display: inline-block;
}

.spacing {
  color: #043B4B;
}

#loading {
  font-size: 30px;
  text-align: center;
}

#icons {
  font-size: 1em;
}
#icons:hover {
  color: white;
  transition: all 0.5s ease;
}
